.filter-button {
  cursor: pointer;

  height: 38px;
  padding: 6px 22px;

  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--filter-button-color);

  border: none;
  border-radius: 4px;

  transform: scale(1);

  transition: color 250ms,
    background-color 250ms,
    box-shadow 250ms;

  &:hover,
  &:focus {
    color: var(--text-color);
    background-color: var(--accent-color);
    box-shadow: var(--shadow-primary);  
  }
}