:root {
  --accent-color: #2196f3;
  --page-secondary-color: #f5f4fa;
  --page-navigation-text-color: #212121;
  --main-title-text-color: #ffffff;
  --description-text-color: #757575;
  --footer-color: #2f303a;
  --section-title: #212121;
  --poster-title: #212121;
  --navigation-link: #757575;
  --team-poster-description-background-color: #ffffff;
  --footer-accent-color: #ffffff;
  --footer-social-list-link-bg: rgba(255, 255, 255, 0.1);
  --icon-color: #afb1b8;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --modal-close-btn-border: rgba(0, 0, 0, 0.1);
  --header-color: #ececec;
  --text-color: #ffffff;
  --button-white-color: #eeeeee;
  --card-border-color: #eeeeee;
  --modal-border-color: rgba(0, 0, 0, 0.1);
  --checkbox-border-color: #2a2a2a;
  --address-border-color: rgba(255, 255, 255, 0.3);
  --banner-bg-color: #c4c4c4;
  --card-bg-color: rgba(47, 48, 58, 0.8);
  --card-portfolio-bg-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --filter-button-color: #000000;
  --black-light-color: rgba(33, 33, 33, 0.2);
  --black-color-15prts: rgba(0, 0, 0, 0.15);
  --address-color: rgba(255, 255, 255, 0.6);
  --start-color: rgba(47, 48, 58, 0.4);
  --end-color: rgba(47, 48, 58, 0.4);
  --shadow-primary: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --shadow-secondary: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}